<!DOCTYPE html>
 
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <script>
            const listElement = document.querySelector('ul');
            
            // Header, Footer.
            fetch("/header")
                .then(response => {
                    return response.text()
                })
                .then(data => {
                    document.querySelector("header").innerHTML = data;
                });

            fetch("/footer")
                .then(response => {
                    return response.text()
                })
                .then(data => {
                    document.querySelector("footer").innerHTML = data;
                });
 
            function prikaziVseNovice() {
                const listElement = document.querySelector('ul');

                fetch('/novice')
                    .then(res => res.json())
                    .then(data => {
                        data["novice"].forEach(novica => {
                            listElement.insertAdjacentHTML('beforeend', `<li>${novica.NazivNovice}</li>`);
                        });

                    })
            }
        </script>

        <header></header>
        
        <h2>Administracija Teletekst vsebin</h2>
        <button name="novice" onclick="prikaziVseNovice()">Prikaži vse TELETEXT novice</button>
        <p><a href="/novanovica">Vnesi novo novico</a></p>

        <ul> </ul>
        <footer></footer>
   </body>
</html>