<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <title> MATCO Teletext </title>
    </head>

    <body>
        <script>
            fetch("/footer")
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.querySelector("footer").innerHTML = data;
            });
        </script>

        <h1>MATCO Teletext</h1>

        <h3><a href="/admin">Administracija</a></h3>
        <h3><a href="/gumbi">Gumbi (demo)</a></h3>
        <h3><a href="/podrobno">Podrobnosti o MATCO teletext</a></h3>

        <footer></footer>
   </body>
</html>