@font-face {
	font-family: 'myTeletext';
	src: url("fonts/TIFAX_TEXT.ttf");
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'myTeletext';
	font-size: 1.2rem;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: black;
}

h1, h2 {
	color: white;
	font-family: 'myTeletext';
}

h3 {
	font-family: 'myTeletext';
	color: red;
}

p {
	font-family: 'myTeletext';
	color: yellow;
	font-size: 20px;
}

a {
	font-family: 'myTeletext';
	color: cyan;
	font-size: 20px;
	text-decoration: none;
}

pheader {
	font-family: 'myTeletext';
	color: red;
	font-size: 30px;
	text-decoration: none;
	text-align: left;
}

ul {
	padding: 0;
	margin: 0;
	max-width: 700px;
	position: relative;
}


li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 0	rem;
	background: cyan;
	color: black;
}

li + li {
	margin-top: 1rem;
}

::marker {
	font-weight: 600;
	color: tomato;
	font-size: 1.8rem;
}

button {
	font-family: 'myTeletext';
	font-size: 20px;
	background-color: blue;
	color: red;
	padding: 10px;
}

label {
	font-family: 'Arail';
	font-size: 20px;
	background-color: black;
	color: red;
	padding: 10px;
}

input {
	font-family: 'Arail';
	font-size: 20px;
	background-color: black;
	color: red;
	padding: 10px;
}

div {
	font-family: myTeletext;
}

/* Stili za tabele. */
table, th, td {
	font-family: 'myTeletext';
	font-size: 14px;
	border: 1px solid black;
	border-collapse: collapse;
}
th {
	text-align: center;
}
th, td {
	padding: 10px;
}
tr:nth-child(even) {
	background-color: #f98282;
	color: white;
}
tr:nth-child(odd) {
	background-color: #ef1717;
	color: white;
}

tr:hover {background-color: #000505;}
